@model CoVisiting.Models.Home.HomeIndexModel

<div class="container body-content">
    <div class="row frontPageSplash">
        <div class="col-md-6 frontPageLearn">
            <div class="frontPageHeading">Подорожуйте! Спілкуйтесь! Діліться враженнями!</div>
            <p class="frontPageSubHeading"> Знаходьте друзів і подорожуйте на різноманітні події разом</p>
            <div>
                <form asp-controller="Search" asp-action="Search" method="post">
                    <input asp-for="SearchQuery" type="text" class="homeSearch" placeholder="Знайти подію..."/>
                </form>
            </div>
        </div>
    </div>
    <div class="row ContainerShadow paddingFix16">
        <h3 id="latestsEvents"> Найближчі події </h3>
        @foreach (var newEvent in Model.LatestEvents)
        {
            <a asp-controller="Event" asp-action="Index" asp-route-id="@newEvent.Id" class="text-black">
                <div class="row col-lg-3 col-md-4 col-sm-6 col-xs-12 " id="blockEvent">
                    <div class="row eventHeader">
                        <div class="categoryLogo" style="background-image: url(@newEvent.Category.ImageUrl);"> </div>
                        <div class="eventListingTitle">
                            <label>
                                @newEvent.Title
                            </label>
                        </div>
                    </div>
                    <div class="EventCityPlace">
                        @newEvent.EventCity, @newEvent.EventPlace
                    </div>
                    <div class="EventStart">
                        @newEvent.StartDateTime.ToString("dd/MM/yyyy HH:mm")
                    </div>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div>
                            <a asp-controller="Profile" asp-action="Detail" asp-route-id="@newEvent.AuthorId">
                                @newEvent.AuthorName
                            </a>
                        </div>

                    <div class="row">
                        <div class="col-lg-2 AuthorRatingClass">
                            +@newEvent.AuthorRating
                        </div>
                        <div class="SubscribersReplies">
                            <div class="SubscriberLogo"> </div>
                            <div class=""> @newEvent.EventSubscribersCount </div>
                            <div class="replyLogo"> </div>
                            <div class=""> @newEvent.RepliesCount.ToString() </div>
                        </div>
                    </div>
                    }
                </div>
            </a>
        }

    </div>
</div>