@model CoVisiting.Models.Home.HomeIndexModel

<div class="container body-content">
    <div class="row frontPageSplash">
        <div class="col-md-6 frontPageLearn">
            <div class="frontPageHeading">Подорожуйте! Спілкуйтесь! Діліться враженнями!</div>
            <p class="frontPageSubHeading"> Знаходьте друзів і подорожуйте на різноманітні події разом</p>
            <div>
                <form asp-controller="Search" asp-action="Search" method="post">
                    <input asp-for="SearchQuery" type="text" class="homeSearch" placeholder="Знайти подію..."/>
                </form>
            </div>
        </div>
        <div class="col-md-6"></div>
    </div>
    <div class="row frontPageContent">
        <h3 id="latestPosts"> Найближчі події </h3>
        @foreach (var newEvent in Model.LatestEvents)
        {
            <div class="row col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 categoryLogo" style="background-image: url(@newEvent.Category.ImageUrl); "> </div>
                    <div class="col-lg-6 eventListingTitle">
                        <a asp-controller="Event" asp-action="Index" asp-route-id="@newEvent.Id">
                            @newEvent.Title
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6"> @newEvent.EventCity</div>
                    <div class="col-lg-6"> @newEvent.AuthorName (@newEvent.AuthorRating.ToString())</div>
                </div>
                <div class="row">
                    <div class="col-lg-6"> @newEvent.EventPlace</div>
                    <div class="col-lg-6">
                        @if (newEvent.RepliesCount == 1)
                        {
                            <span> @newEvent.RepliesCount Коментар</span>
                        }
                        @if (newEvent.RepliesCount == 0)
                        {
                            <span> Коментарів немає</span>
                        }
                        else
                        {
                            <span> @newEvent.RepliesCount Коментарів </span>
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6"> @newEvent.StartDateTime.ToString("dd/MM/yyyy HH:mm")</div>
                    <div class="col-lg-6"> @newEvent.EventRating вподобань</div>
                </div>
            </div>
        }

    </div>
</div>