@model CoVisiting.Models.Category.CategoryIndexModel
@inject CoVisiting.Service.NumCaseService NumCaseService

<div class="container body-content">
    <div class="row userProfileHeader globalMarginFix_30">
        <div class="userProfileHeading">
            Категорії подій
        </div>
    </div>

    <div class="row globalMarginFix_30 ContainerShadow paddingFix16">
        <table class="table table-hover" id="categoryIndexTable">
            <tbody>
                @foreach (var category in @Model.CategoryList)
                {
                    <tr onclick="location.href = '@(Url.Action("Topic", "Category", new { Id = category.Id}))'">

                        <td class="col-lg-1 CategoryListingImage" style="background-image:url(@category.ImageUrl)"></td>
                        <td class="CategoryListingContent">
                            @category.Name
                        </td>
                        <td>
                            <div class="categoryUsersEvents">
                                @category.EventsCount @NumCaseService.GetCaseForEventsFromNum(@category.EventsCount)
                            </div>
                            <div class="categoryUsersEvents">
                                @category.UsersCount @NumCaseService.GetCaseForSubsFromNum(@category.UsersCount)
                            </div>
                        </td>
                        <td class="CategoryListingContent">
                            @category.Description
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
