@model CoVisiting.Models.Category.CategoryTopicModel

@if (Model.Events.Any())
{
    <table class="table table-hover table-bordered" id="forumIndexTable">
        <tbody>
            @foreach (var newEvent in Model.Events)
            {
                <tr>
                    <td>
                        <div class="postData">
                            <div class="postTitle">
                                <a asp-controller="Post" asp-action="Index" asp-route-id="@newEvent.Id">
                                    @newEvent.Title
                                </a>
                            </div>
                            <div class="forumSubTitle">
                                <div>
                                    <span class="postAuthor">
                                        <a asp-controller="Profile" asp-action="Detail" asp-route-id="@newEvent.AuthorId">
                                            @newEvent.AuthorName
                                        </a>
                                    </span>
                                    (@newEvent.AuthorRating)
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="forumPostCount">
                            Replies: @newEvent.RepliesCount
                        </div>
                    </td>
                    <td>
                        <div class="postDate"> @newEvent.EventCity</div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="noPosts">
        <h3>
            Здається, у цій категорії ще немає подій...
            Чому б не 
            <a asp-controller="Post" asp-action="Create" asp-route-id="@Model.Category.Id">
                <span>створити</span>
            </a>
            якусь нову подію?)
        </h3>
    </div>
}