@using CoVisiting.Data.Enums
@model CoVisiting.Models.Reply.NewReplyModel

<div class="container body-content">
    <div class="row eventNewNameHeader">
        <div class="eventHeading">
            <span class="eventIndexTitle">
                Коментар | @Model.EventName
            </span>
            <span id="headingBtn">
                <a asp-controller="Category" asp-action="Topic" asp-route-id=@Model.CategoryId class="btn btn-back">
                    Назад до "@Model.CategoryName"
                </a>
            </span>
            <span id="headingBtn">
                <a asp-controller="Event" asp-action="Index" asp-route-id=@Model.EventId class="btn btn-back">
                    Назад до "@Model.EventName"
                </a>
            </span>
        </div>
    </div>
    
    <div class="row ContainerShadow">
        <form asp-action="AddReply" method="post" id="addPostForm">
            <div class="row newReplyUser">
                Ви створюєте коментар під іменем
                <strong>
                    @Model.UserName
                </strong>
            </div>
            <div class="row newReplyContent">
                <div class="form-group">
                    <label asp-for="Content"> Вміст коментаря</label>
                    <textarea rows="10" asp-for="Content" class="form-control"></textarea>
                </div>
                <div class="col-lg-12 newReplyScope">
                    <div class="marginfixB8">
                        <strong>
                            Область видимості коментаря
                        </strong>
                    </div>
                    <div class="col-lg-12 paddingFix0">
                        @Html.RadioButtonFor(model => model.ReplyScope, ReplyScope.ForAll)
                        Для зареєстрованих учасників
                    </div>
                    <div class="col-lg-12 paddingFix0">
                        @Html.RadioButtonFor(model => model.ReplyScope, ReplyScope.ForSubscribers)
                        Для підписників події
                    </div>
                    <div class="col-lg-12 paddingFix0">
                        @Html.RadioButtonFor(model => model.ReplyScope, ReplyScope.ForAuthor)
                        Тільки для @Model.Reciever.UserName
                    </div>
                </div>
            </div>
            <button type="submit" id="submitPostBtn" class="btn btn-success newReplySumbit">
                Відправити коментар
            </button>
            <input asp-for="CategoryId" type="hidden" />
            <input asp-for="EventId" type="hidden" />
            <input asp-for="RecieverId" type="hidden" />
        </form>
    </div>
</div>
