@model CoVisiting.Models.Event.EventIndexModel

<div class="container body-content">
    <div class="row eventNewNameHeader">
        <div class="eventHeading">
            <span class="eventIndexTitle">
                @Model.Title 
            </span>
            <span id="headingBtn">
                <a asp-controller="Category" asp-action="Topic" asp-route-id=@Model.CategoryId class="btn btn-back">
                    Назад до "@Model.CategoryName"
                </a>
            </span>
        </div>
    </div>
    
    
    <div class="row eventNewPlaceHeader">
        <div class="eventHeading">
            <span class="eventIndexPlace">
                @Model.EventCity, @Model.EventPlace, @Model.StartDateTime.ToString("dd/MM/yyyy HH:mm")
            </span>
        </div>
    </div>

    <div class="row" id="eventIndexContent">
        <div class="col-md-2 eventAuthorContainer">
            <div class="col-md-12 eventAuthorImage" style="background-image: url(@Model.AuthorImageUrl)"></div>
            <div class="col-md-12 eventAuthorName">
                <a  asp-controller="Profile" asp-action="Detail" asp-route-id="@Model.AuthorId">
                    @Model.AuthorName
                </a>
            </div>
            <span class="col-md-12 eventData"> @Model.Created</span>
            @*@if (Model.IsAuthorAdmin)
            {
                <span class="isAdmin smaller">Admin</span>
            }*@
        </div>
        <div class="col-md-10 eventContentContainer">
            <div class="col-md-7 eventContentText">
                @Html.Raw(Model.Content)
            </div>
            <div class="col-md-5">

                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <td> Відправлення </td>
                            <td> Повернення </td>
                        </tr>
                        <tr>
                            <td> @Model.BeforeEvent.TransportType.ToString()</td>
                            <td> @Model.AfterEvent.TransportType.ToString()</td>
                        </tr>
                        <tr>
                            <td> @Model.BeforeEvent.DepartureCity - @Model.BeforeEvent.ArrivalCity</td>
                            <td> @Model.AfterEvent.DepartureCity - @Model.AfterEvent.ArrivalCity</td>
                        </tr>
                        <tr>
                            <td> =&gt; @Model.BeforeEvent.DepartureTime.ToString("dd/MM/yyyy HH:mm")</td>
                            <td> =&gt; @Model.AfterEvent.DepartureTime.ToString("dd/MM/yyyy HH:mm")</td>
                        </tr>
                        <tr>
                            <td> &lt;= @Model.BeforeEvent.ArrivalTime.ToString("dd/MM/yyyy HH:mm")</td>
                            <td> &lt;= @Model.AfterEvent.ArrivalTime.ToString("dd/MM/yyyy HH:mm")</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div> 
    </div>

    <div class="row" id="replyDivider"></div>

    @if (User.Identity.IsAuthenticated)
    {
        <div class="row">
            <span>
                <a asp-controller="Reply" asp-action="Create" asp-route-id="@Model.Id" class="btn btn-newReply">
                    Додати коментар
                </a>
            </span>
        </div>
    }

    @if (Model.Replies.Any())
    {
        foreach (var reply in Model.Replies)
        {
            <div class="row replyContent">
                <div class="col-md-3 replyAuthorContainer">
                    <div class="postAuthorImage" style="background-image: url(@reply.AuthorImageUrl)"></div>
                    <a asp-controller="Profile" asp-action="Detail" asp-route-id="@reply.AuthorId">
                        @reply.AuthorName
                    </a>
                    @*@if (reply.IsAuthorAdmin)
                    {
                        <div class="isAdmin smaller">Admin</div>
                        <br />
                    }*@
                    <span>@reply.Created.ToString()</span>
                </div>
                <div class="col-md-9 replyAuthorContainer">
                    <div class="postContent">
                        @Html.Raw(reply.Content)
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div class="noEvents">
            <h3>
                Тут ще немає коментарів ... <br />
            </h3>
        </div>
    }
</div>