@model CoVisiting.Models.Event.EventIndexModel

<div class="container body-content">
    <div class="row eventNewNameHeader">
        <div class="eventHeading">
            <span class="eventIndexTitle">
                @Model.Title
            </span>
            <span id="headingBtn">
                <a asp-controller="Category" asp-action="Topic" asp-route-id=@Model.CategoryId class="btn btn-back">
                    Назад до "@Model.CategoryName"
                </a>
            </span>
        </div>
    </div>


    <div class="row eventNewPlaceHeader">
        <div class="eventHeading">
            <span class="eventIndexPlace">
                @Model.EventCity, @Model.EventPlace, @Model.StartDateTime.ToString("dd/MM/yyyy HH:mm")
            </span>
        </div>
    </div>

    <div class="row ContainerShadow">
        <div class="col-md-2 eventAuthorContainer">
            <div class="col-md-12 eventAuthorImage" style="background-image: url(@Model.AuthorImageUrl)"></div>
            <div class="col-md-12 eventAuthorName">
                <a asp-controller="Profile" asp-action="Detail" asp-route-id="@Model.AuthorId">
                    @Model.AuthorName
                </a>
            </div>
            <span class="col-md-12 eventData"> @Model.Created.ToString("dd.MM.yyyy")</span>
            @*@if (Model.IsAuthorAdmin)
                {
                    <span class="isAdmin smaller">Admin</span>
                }*@
        </div>
        <div class="col-md-10 eventContentContainer">
            <div class="col-md-7 eventContentText">
                @Html.Raw(Model.Content)
                @if (User.Identity.IsAuthenticated)
                {
                    @if (Model.IsCurrentUserSubscribed)
                     {
                         <a asp-controller="Event" asp-action="DeleteSubscriber" asp-route-id="@Model.Id" class="btn btn-default subscribeToEvent">
                             Відписатись @Model.Subscribers.Count()
                         </a>
                     }
                     else
                     {
                         <a asp-controller="Event" asp-action="AddSubscriber" asp-route-id="@Model.Id" class="btn btn-danger subscribeToEvent">
                             Підписатись @Model.Subscribers.Count()
                         </a>
                     }
                }
            </div>
            <div class="col-md-5">
                <table class="table table-hover">
                    <tbody>
                    <tr>
                        <td> Відправлення </td>
                        <td> Повернення </td>
                    </tr>
                    <tr>
                        <td> @Model.BeforeEvent.TransportType.ToString()</td>
                        <td> @Model.AfterEvent.TransportType.ToString()</td>
                    </tr>
                    <tr>
                        <td> @Model.BeforeEvent.DepartureCity - @Model.BeforeEvent.ArrivalCity</td>
                        <td> @Model.AfterEvent.DepartureCity - @Model.AfterEvent.ArrivalCity</td>
                    </tr>
                    <tr>
                        <td> =&gt; @Model.BeforeEvent.DepartureTime.ToString("dd/MM/yyyy HH:mm")</td>
                        <td> =&gt; @Model.AfterEvent.DepartureTime.ToString("dd/MM/yyyy HH:mm")</td>
                    </tr>
                    <tr>
                        <td> &lt;= @Model.BeforeEvent.ArrivalTime.ToString("dd/MM/yyyy HH:mm")</td>
                        <td> &lt;= @Model.AfterEvent.ArrivalTime.ToString("dd/MM/yyyy HH:mm")</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row replyDivider"></div>

    @if (User.Identity.IsAuthenticated)
    {
        <div class="row addReplyContainer">
            <span>
                <a asp-controller="Reply" asp-action="Create" asp-route-id="@Model.Id" class="btn btn-newReply">
                    Додати коментар
                </a>
            </span>
        </div>

        @if (Model.Replies.Any())
         {
             foreach (var reply in Model.Replies)
             {
                 if (reply.IsVisible)
                 {
                     <div class="row Replies">
                         <div class="col-lg-2 eventAuthorContainer">
                             <div class="col-lg-12 eventAuthorImage" style="background-image: url(@reply.AuthorImageUrl)"></div>
                             <div class="col-lg-8 eventAuthorName">
                                 <a asp-controller="Profile" asp-action="Detail" asp-route-id="@reply.AuthorId">
                                     @reply.AuthorName
                                 </a>
                             </div>
                             @if (reply.AuthorName == Model.AuthorName)
                             {
                                 <div class="col-lg-4 eventAuthorForReply">
                                     Автор
                                 </div>
                             }
                             <span class="col-lg-9 eventData"> @reply.Created.ToString("dd.MM.yyyy")</span>
                         </div>
                         <div class="col-lg-9 eventContentContainer">
                             <div class="col-lg-12 eventReplyText">
                                 @Html.Raw(reply.Content)
                             </div>
                         </div>
                         <div class="col-lg-1 eventContentContainer">
                             <a asp-controller="Event" asp-action="DeleteSubscriber" asp-route-id="@Model.Id" class="btn btn-default replyReply">
                                 Відписатись @Model.Subscribers.Count()
                             </a>
                         </div>
                     </div>
                 }
             }
         }
         else
         {
             <div class="noEvents">
                 <h3>
                     Тут ще немає коментарів ... <br/>
                 </h3>
             </div>
         }
    }
    else
    {
        <div>
            Потрібно зарєєструватися щоб коментувати
        </div>
    }
</div>